<div class="row medium-8 large-7 columns">
<div class="blog-post">
	<h4><%=meeting.name%></h4>
	<h4><small><%=meeting.start_time%>--<%=meeting.end_time%></small></h4>


	<div class="callout">
	<p><%=  meeting.location_en %></p>

	</div>
</div>

</div>