<div class="container">
  <div class="col-md-4 col-md-offset-2">
    <span class="sign-title"></span>
    <span class="sign-sec-title">欢迎注册</span>
  </div>
  <div class="col-md-10 col-md-offset-1 form1">
    <%= render 'form' %>
  </div>
</div>



