<button class="button success send-emails">群发邮件</button>
<div class="send-status hidden">
<span>已经发送完<span>
<span class="count">0</span>
<span>封邮件</span>
<span class="send-done hidden">邮件已经全部发送完毕！</span>
</div>

<script>
$(document).ready(function(){
  var emails = [];
  var url = "<%= send_emails_path %>";
    <% @emails.each do |email| %>
    emails.push("<%= email %>");
    <% end %>
    var len = emails.length;
    console.log(emails);
    $('.send-emails').on('click', function(){
      $('.send-done').addClass('hidden');
      $('.send-status').removeClass('hidden');
      <% @emails.each_with_index do |email, index| %>
      var email = "<%= email %>";
      var index = "<%= index %>";
      var counts = 0;
        $.post(url, {email: email, len: index}, function(e){
          counts += 1;
          if(counts == len) {
            $('.send-done').removeClass('hidden');
          }
            $('.count').text(counts);
        });
      <% end %>
    })
  });
    
</script>

<style>
.hidden {
  display: none;
}
</style>