<div class="row">
  <div class="columns medium-8 medium-offset-2">
    <h3 class="center">
      <%= @email.title %>
    </h3>
  </div>
</div>

<div class="row">
  <div class="columns medium-8 medium-offset-2">
    <%= @email.content.html_safe %>
  </div>
</div>
