/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */

/* Variables */

// Adjust width accordingly (use even #'s)
$logo-width: 200px;
// Reduce px value to increase space between logo and menu text
$logo-padding: $logo-width - 32px; 
// Leave alone
$logo-margin: - ($logo-width / 2);

/* Small Navigation */
.logo-small {
   width: $logo-width;
      left: 50%;
      right: 50%;
      top: -6px;
      margin-left: $logo-margin;
}

.title-bar {
  padding: 0 .5rem;
}

.menu-icon,
.title-bar-title {
  position: relative;
  top: 10px;
}

/* Medium-Up Navigation */
@media only screen and (min-width: 40rem) { 

  .logo-wrapper {
    position: relative;
    
    .locale {
      width: $logo-width;
      height:  92px;
      position: absolute;
      left: 50%;
      right: 50%;
      top: -6px;
      margin-left: $logo-margin;
    }
  }

  // Right part
  .top-bar-right {
    width: 50%;
    padding-left: $logo-padding;
    
    ul {
      float: left;
    }
  }
  
  // Left part
  .top-bar-left {
    width:  50%;
    padding-right: $logo-padding;
    
    ul {
      float: right;
    }
  }
}


 #top_nav {
	background: #fff;
	border-radius: 0 0 5px 5px;
	border: 0;
	padding: 0;
	-webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
	margin-bottom: 20px;
}
#top_nav .menu-link{ 
	padding: .6em;	
}
#top_nav .menu-text{ 
	padding: .1em;	
}
#top_nav .active,
#top_nav .menu-link:hover,
#top_nav .menu-link:focus {	
  background-color:  #fb0401; 
  color: #fff;
}

/*General*/

body {
    font-family: Quicksand;
}

.button.hollow.secondary:hover, .button.hollow.secondary:focus {
    border-color: #F78536;
    color: #fff;
}


.button:hover, .button:focus {
   border-color: #E67526;
    color: #fff;
    background-color:#E67526;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Quicksand;
}


.display-table {
    display: table;
}

.va-align {
    display: table-cell;
    vertical-align: middle;
}


/*General*/


/* About */
.about {
    background-color: #fff;
    text-align: center;
    margin: 40px;
}


/* About */




/* Colors */

.orange {
    color: #F78536;
}

.light-blue-grey {
    color: #DFEBED;
}

.blue {
    color: #497285;
}

.dark-blue {
    color: #2B4450;
}

.orange-bg {
    background-color: #F78536;
}

.light-blue-grey-bg {
    background-color: #DFEBED;
}

.blue-bg {
    background-color: #497285;
}

.dark-blue-bg {
    background-color: #2B4450;
}


/*Colors*/


/*Team*/

.team {
    background-color: #fff;
    margin: 40px;
}

.team-member {
    text-align: center;
    margin-bottom :16px;
}

    .team-member img {
        margin-bottom: 30px;
    }

    .team-member h5 {
        color: #F78536;
    }

    .team-member p {
        font-weight: 300;
    }
/*Team*/

/* Info Section */

.info {
    background-color: #2B4450;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Info Section */


/*Blog */

.blog {
    background-color: #fff;
    margin: 30px;
}

    .blog .label {
        margin-bottom: 5px;
    }

.blog-item {
    margin-bottom: 10px;
}

    .blog-item img {
        margin-bottom: 10px;
    }

    .blog-item h5 {
        color: #497285;
    }

/*Blog */



/* Subscribe */

.subscribe {
    background-color: #497285;
    color: #fff;
    min-height: 100px;
    padding: 20px;
    text-align: center;
}



/* Subscribe */


/*Map*/

.map {
    background-color: #F78536;
    color: #fff;
    min-height: 50px;
    padding: 10px;
    text-align: center;
}

/* Map */


/* Contact */

.contact {
    background-image: url('fourway.jpg');
    background-position: center center;
    min-height: 200px;
    padding: 20px;
    color: #fff;
    text-align: center;
}

/* Contact */

/*Footer */

.footer {
    background-color: #fff;
    text-align: center;
    padding: 10px;
}

.footer-social i {
    color: #497285;
    margin-left: 20px;
    font-size: 22px;
}

    .footer-social i:hover {
        color: #F78536;
    }


/*Footer */
