
    <div class="map">
        <div class="row">
            <div class="large-12 columns">
                LOCATE US ON THE MAP <u><i class="fi fi-target-two"></i></u>
            </div>
        </div>
    </div>
    <div class="contact">
        <div style="background-color:rgba(0,0,0,0.7); min-height:100%; padding:32px; width:100%;">
            <div class="row">
                <div class="large-12 columns">
                    <div class="display-table" style=" width:100%;">
                        <div class="va-align">
                            <h4>info@iscvd.org </h4>
                            100 E Lancaster Ave Mezz Lvl Wynnewood PA 19096

                            <br> (484) 476-1000
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="row">
            <div class="large-12 columns">
                <div class="footer-social">
                    <i class="fi fi-social-facebook"></i>
                    <i class="fi fi-social-twitter"></i>
                    <i class="fi fi-social-instagram"></i>
                    <i class="fi fi-social-linkedin"></i>
                </div>
                &copy; ISCVD.ORG 2016.
            </div>
        </div>
    </div>
 